:root 
{
    --white: #fafafb;
    --green-light: #c4efb4;
    --green-dark: #17a79d;
    --blue-ligth: #1772a5;
    --blue-dark: #154295;
}

body
{
    background: linear-gradient(to bottom, var(--green-dark), var(--blue-ligth));
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}

body::-webkit-scrollbar
{
    width: 10px;
    background: linear-gradient(to bottom, var(--green-dark), var(--blue-ligth));
    border-right: 2px ;
}

body::-webkit-scrollbar-thumb
{
    background-color: var(--blue-dark);
    border-radius: 50px;
}

/*Perfil*/
.perfil h1
{
    color: var(--white);
    
}

.perfil span
{
    color: var(--white);
    letter-spacing: 1px;
}

#fecha
{   
    color: var(--white);
    padding: 50px 0 5px 0;
}
